@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    src: url('../fonts/Roboto-Bold.ttf');
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #f5f5dc;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/main_bg.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: 1;
}

header h1, header h2 {
    position: relative;
    z-index: 2;
}

.goals {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: auto;
    padding: 20px 0;
    background-color: #333;
    border-top: 1px solid #ccc;
    position: relative;
    overflow: hidden;
}

footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/main_bg.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(20px);
    z-index: 1;
}

footer p {
    margin: 5px 0;
    font-size: 14px;
    color: white;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    flex-grow: 1;
}

.task {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.task h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.task p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.task label {
    font-size: 16px;
    margin-right: 10px;
}

.task input {
    padding: 8px;
    font-size: 16px;
    margin-right: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.task button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.task button:hover {
    background-color: #45a049;
}

#result_task1, #result_task2 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}