@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    src: url('../fonts/Roboto-Regular.ttf');
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #f5f5dc;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    color: white;
    background-color: #333;
    padding: 20px 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

#question img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

#answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e0d7b6;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #a6a64d;
    transform: scale(1.1);
}

#result {
    text-align: center;
}

footer {
    text-align: center;
    color: #333;
    background-color: #f5f5dc;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
    font-size: 14px;
}

#quiz-container {
    margin-bottom: 20px;
}

#result {
    display: none;
    padding: 20px;
}

#user-answers p {
    margin: 5px 0;
    font-size: 16px;
}